tr:nth-child(even){
    background-color: gray;
 }
table{
    width: 500px;
    margin: 10px;
    border: 1px solid black;
}
th{
    border: solid 1px black;
    background-color: #56564e;
    text-align: center;
    background-color: green;
    color: #EAFF02;
    font-weight: bold;
}
td{
    border: 1px solid black;
    padding-left: 20px;
}
#main {
  text-align: center;
  font-size: 22px;
}
#back {
  font-style: italic;
}
#center{
    text-align: center;
}
#right{
    text-align: right;
}
@media (min-width: 992px) {
      
    .col-lg-4 {
     font-size: 1.3em;;
    }
    .col-lg-3 {
     font-size: 1.2em;
    }
   }
   
   /*medium */
   @media (min-width: 768px) and (max-width: 992px){
    .col-md-6 {
       font-size: 1.2em;
    }
   
    .col-md-7 {
       font-size: 1.1em;
    }
   }
   
   /*small*/
   @media (max-width: 768px){
   
    .col-sm-12 {
       font-size: 1.1em;
    }
   }