tr:nth-child(even){
    background-color: gray;
 }
table{
    width: 500px;
    margin: 10px;
    border: 1px solid black;
}
th{
    border: solid 1px black;
    background-color: #56564e;
    text-align: center;
    background-color: green;
    color: #EAFF02;
    font-weight: bold;
}
td{
    border: 1px solid black;
    padding-left: 20px;
}
#main {
  text-align: center;
  font-size: 22px;
}
#back {
  font-style: italic;
}
#center{
    text-align: center;
}
#right{
    text-align: right;
}
